body {
    --color-background-hover: #eee;
    --color-contrast-font: white;
    --color-info-background: #3b88c3;
    --color-list-separator: #ccc;
    --color-modal-background: white;
    --color-modal-border: #000;
    --color-page-background: white;
    --color-page-font: #111;
}

body.dark {
    --color-background-hover: #333;
    --color-contrast-font: white;
    --color-info-background: #3b88c3;
    --color-list-separator: #444;
    --color-modal-background: #242424;
    --color-modal-border: #444;
    --color-page-background: #222;
    --color-page-font: #ccc;
}

body {
    background: var(--color-page-background);
    color: var(--color-page-font);
    font-family: sans-serif;
}

table>tr>td {
    width: 100px;
    height: 100px;
    line-height: 0;
}

a,
a:visited {
    color: var(--color-page-font);
}

.tile {
    user-select: none;
    pointer-events: none;
    width: 100px;
    height: 100px;
    background-color: #777;
}

.walkable {
    cursor: pointer;
}

.center {
    outline: yellow 2px solid;
}

.app {
    display: flex;
    flex-direction: row;
}

.app>* {
    max-width: 530px;
}

.cooldown {
    width: 100%;
    color: #000;
    text-align: center;
    background-color: #000;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.cooldown.active {
    background-color: #fff;
}

li[data-selected="true"] {
    outline: 2px blueviolet dotted;
}
